<mat-card>
    <mat-card-title>Inserir Animal </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="animal.Name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Espécie" [(ngModel)]="animal.Spicies" name="spicies">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Raça" [(ngModel)]="animal.Breed" name="breed">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Idade" [(ngModel)]="animal.Age" name="age">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome do tutor" [(ngModel)]="animal.Owner" name="owner">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Contato do Tutor" [(ngModel)]="animal.Contact" name="contact">
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="createAnimal()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()" color="secondary">
        Cancelar
    </button>
</mat-card>