
<mat-card>
    <img [src]="'assets/logo.jpg'" alt="Logo do SOSVET">
    <mat-card-title>Inserir Animal </mat-card-title>
    <form #loginForm = "ngForm">
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="animal.Name" name="name" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Espécie" [(ngModel)]="animal.Spicies" name="spicies" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Raça" [(ngModel)]="animal.Breed" name="breed" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Idade" [(ngModel)]="animal.Age" name="age"required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome do tutor" [(ngModel)]="animal.Owner" name="owner"required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Contato do Tutor" [(ngModel)]="animal.Contact" name="contact"required>
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="createAnimal()" color="primary" [disabled]="loginForm.form.invalid">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()" color="secondary">
        Cancelar
    </button>
</mat-card>