<mat-card>
    <mat-card-title>Inserir Animal </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="animal.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Espécie" [(ngModel)]="animal.spicies" name="spicies">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Raça" [(ngModel)]="animal.breed" name="Breed">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Idade" [(ngModel)]="animal.age" name="Age">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome do tutor" [(ngModel)]="animal.owner" name="Owner">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Contato do Tutor" [(ngModel)]="animal.contact" name="contact">
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="createAnimal()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()" color="secondary">
        Cancelar
    </button>
</mat-card>