<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
      Bem -Vindo ! 
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
      SoSVeT - Triagem, , por favor, responda as perguntas abaixo:
    </mat-card-subtitle>

<mat-list role="Dados do Animal">
    <h3> Dados do Animal :</h3>   
   <mat-list-item role="listitem">Nome do Animal : {{animal?.Name}} </mat-list-item>
   <mat-list-item role="listitem">Idade : {{animal?.Age}}</mat-list-item>
   <mat-list-item role="listitem">Nome do Tutor: {{animal?.Owner}}</mat-list-item>
   <mat-list-item role="listitem">Contacto do Tutor : {{animal?.Contact}}</mat-list-item>
 </mat-list>  
 <mat-card-content>   
        <mat-card-content>
            <mat-card-content class="question">
                {{question.Description}}
                <mat-radio-group aria-labelledby="radio-button-questions" class="radio-group" [(ngModel)]="respUser"
                    *ngIf="question.Description">
                    <mat-radio-button class="item-radio-button" *ngFor="let option of options" [value]="option">
                        {{option == 'true' ? 'Sim' : 'Não'}}
                    </mat-radio-button>
                </mat-radio-group>       
        </mat-card-content>
        </mat-card-content>
  
       
    <div class="div-info-animal">
        <mat-label class="label-codigo-animal">Código do Animal: {{this.userAnswer.userId}}</mat-label>
    </div>
    <mat-label *ngIf="!question.Description"> Não foi possivel carregar as questões </mat-label>
    <button class="btn" mat-raised-button (click)="getQuestionByGroup(this.question.Group)" color="primary" *ngIf="question.Description">
        Submeter
    </button>
<mat-spinner *ngIf="!question.Description"></mat-spinner>


    
 

    