<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        <img [src]="'assets/logo.jpg'" alt="Logo do SOSVET">
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        SoSVeT - Triagem, por favor, selecione uma das categorias abaixo:
    </mat-card-subtitle>
</mat-card>
<br>
<mat-list role="Dados do Animal">
    <h3> Dados do Animal :</h3>   
   <mat-list-item role="listitem">Nome do Animal : {{animal?.Name}} </mat-list-item>
   <mat-list-item role="listitem">Idade : {{animal?.Age}}</mat-list-item>
   <mat-list-item role="listitem">Nome do Tutor: {{animal?.Owner}}</mat-list-item>
   <mat-list-item role="listitem">Contacto do Tutor : {{animal?.Contact}}</mat-list-item>
 </mat-list>  
 <hr>
 <br>

 <h3> Selecione o grupo:</h3>

 <br>
 <mat-card-content>   
<mat-card-content>
    <br>
    
<button class="btn" mat-raised-button (click)="getQuestionByGroup('Respiratorio')" color="primary">
    Respiratório
</button>
<button class="btn" mat-raised-button (click)="getQuestionByGroup('Circulatorio')" color="primary">
    Circulatório
</button>
<button class="btn" mat-raised-button (click)="getQuestionByGroup('Neurológico')" color="primary">
    Neurológico
</button>
<button class="btn" mat-raised-button (click)="getQuestionByGroup('Obstetrícia')" color="primary">
    Obstetrícia
</button>
</mat-card-content>
<button class="btn" mat-raised-button (click)="getQuestionByGroup('Trauma')" color="primary">
    Trauma
</button>
<button class="btn" mat-raised-button (click)="getQuestionByGroup('Gastrointestinal')" color="primary">
    Gastrointestinal
</button>
<button class="btn" mat-raised-button (click)="getQuestionByGroup('Urogenital')" color="primary">
    Urogenital
</button>
<button class="btn" mat-raised-button (click)="getQuestionByGroup('Generalizado')" color="primary">
    Generalizado
</button>
</mat-card-content>
