<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem -Vindo !
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        SoSVeT - Pré-Triagem
    </mat-card-subtitle>
</mat-card>

<mat-card class="home mat-elevation-z2">

</mat-card>

<button class="btn" mat-raised-button (click)="getQuestionByGroup('Cardiologico')" color="primary">
    Cardiologico
</button>
<button class="btn" mat-raised-button (click)="getQuestionByGroup('Circulatorio')" color="primary">
    Respiratório
</button>

Criamos a página com os botões : ->  