.header {
 
  position: fixed; /* Set the navbar to fixed position */
  align-items: center;

  /* background-color: gray; */
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  color: #333;
}

.header .logo{
  max-height: 50px;
}

.header .title-group {
  padding-left: 25px;
}

.header .title-group i {
  padding-right: 5px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-toolbar{
  z-index: 999;
  position: fixed
}
::ng-deep .mat-tab-group{
  margin: top 52px !important;
}

::ng-deep .mat-tab-header{
      z-index: 999;
      width:100vw;
      position: fixed  !important;
      background-color: gray !important;
}
::ng-deep .mat-tab-body-wrapper{
    position: relative !important;
    margin-top:55px;
}
.content[_ngcontent-sgh-c186] {
  padding: 16px;
  margin-top: 52px;
}
