table {
  width: 100%;
}

.mat-column-name {
  flex: none;
  width: 10%;
}

.mat-column-breed {
  flex: none;
  width: 10%;
}

.mat-column-spicies {
  flex: none;
  width: 10%;
}

.mat-column-owner {
  flex: none;
  width: 10%;
}

.mat-column-contact {
  flex: none;
  width: 10%;
}

.mat-column-action {
  flex: none;
  width: 10%;
}
