table {
  width: 100%;
  border-color: #e35e6b;
  
}

.edit {
  margin-right: 10px;
}

.mat-elevation-z4{

  border-color: gray;

}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: grey;
}


.edit > i {
  color: grey;
}

.delete > i {
  color: #e35e6b;
}

.edit {
  margin-right: 10px;
}


.material-symbols-outlined{

  color: #e35e6b
}

.search-input-full-width {
  width: 30%;
}
.mat-card{

  border-color: #e35e6b;
}

