<mat-card class="home mat-elevation-z3">

  <img [src]="'assets/logo.jpg'" alt="Logo do SOSVET">

  <div class="row">
    <div class="column">
      <mat-card class="home mat-elevation-z3 mat-card-dashboard" routerLink="/animal" >
        <mat-card-title class="title">
          {{countAnimal}}
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
          Animais
        </mat-card-subtitle>
      </mat-card>
    </div>
    <div class="column">
      <mat-card class="home mat-elevation-z3 mat-card-dashboard"  routerLink="/preScreening">
        <mat-card-title class="title">
          {{countPreScreenning}}
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
          Pré-Triagem
        </mat-card-subtitle>
      </mat-card>
    </div>
    <div class="column">
      <mat-card class="home mat-elevation-z3 mat-card-dashboard"  routerLink="/Screening">
        <mat-card-title class="title">
          {{countScreenning}}
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
          Triagem
        </mat-card-subtitle>
      </mat-card>
    </div>
  </div>
</mat-card>

