<mat-card>
    <img [src]="'assets/logo.jpg'" alt="Logo do SOSVET">
    <mat-card-title>Atualizar Dados do Animal</mat-card-title>
    
    <form *ngIf="animal">
        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="animal.Name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="spicies"
                [(ngModel)]="animal.Spicies" name="spicies">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="breed"
                [(ngModel)]="animal.Breed" name="breed">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="age"
                [(ngModel)]="animal.Age" name="age">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="owner"
                [(ngModel)]="animal.Owner" name="owner">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="contact"
                [(ngModel)]="animal.Contact" name="contact">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateAnimal()" color="primary" >
        Atualizar
    </button>
    
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>