<mat-card>
    <mat-card-title>Atualizar Dados do Animal</mat-card-title>
    
    <form *ngIf="animal">

        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="animal.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="spicies"
                [(ngModel)]="animal.spicies" name="spicies">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="breed"
                [(ngModel)]="animal.breed" name="breed">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="age"
                [(ngModel)]="animal.spicies" name="age">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="owner"
                [(ngModel)]="animal.owner" name="owner">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="contact"
                [(ngModel)]="animal.contact" name="contact">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateAnimal()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>