
.home .title {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.home .subtitle {
  font-size: 0.9rem;
}

.question {
  font-size: large;
  margin-top: 10rem;
}

.mat-elevation-z2 {
  margin-top: 180px;
  
}

.mat-h2, .mat-title, .mat-typography .mat-h2, .mat-typography .mat-title, .mat-typography h2 {
  font: 500 20px/32px Roboto,"Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
  color: gray;
}

.btn {
  align-items: flex-end;
  size: large;
  font-size: 1.2rem;
  width: 15rem;
  margin-top:  80px;
}
.mat-list[_ngcontent-mag-c117] {
  border-collapse: separate;
  color:grey
}

.h3{
  font-weight:bold;
}

.mat-list-base .mat-list-item {
  
  
  color:gray
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
  
}

.item-radio-button {
  margin: 5px;
  margin-top: 0.8rem;
}
.question {
  font-size: large;
  margin-top: 3rem;
  color:gray
}

.div-info-animal {
  margin-top: 180px;
  margin-left: 72%;
}

.mat-list{
border-collapse: separate; 
  border-spacing: 10px;

}

.hr{

  border-color: grey;
  margin-top: 0;
  

}
  
.label-codigo-animal {
  font-size: 0.7rem;
  margin-top: 10px;
  color: rgb(166, 166, 166);
}