<mat-sidenav-container class="container" *ngIf="showHead">
  <mat-sidenav class="sidenav" mode="side" opened 
  fixedInViewport=true fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
        <i class="material-icons">
          home
        </i>
        Início
      </a>
      <a mat-list-item routerLink="/animal">
        <i class="material-icons">
          text_snippet
        </i>
        Registar animal
      </a>
      <a mat-list-item routerLink="/preScreening">
        <i class="material-icons">
          text_snippet
        </i>
        Listagem da Pré-Triagem
      </a>
      <a mat-list-item routerLink="/Screening">
        <i class="material-icons">
          text_snippet
        </i>
        Listagem de Triagem
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Main content-->
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet *ngIf="!showHead"></router-outlet>