<mat-drawer-container>
  <mat-drawer #drawer mode="side" disableClose="true" opened="true" class="mat-drawer-menu">

    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon (click)="isExpanded = !isExpanded">menu</mat-icon>
        <h4 mat-line *ngIf="isExpanded"></h4>
      </mat-list-item>
      <mat-list-item routerLink="/">
        <mat-icon mat-list-icon>home</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Home</h4>
      </mat-list-item>
      <mat-list-item routerLink="/animal">
        <mat-icon mat-list-icon>local_hospital</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Registar animal</h4>
      </mat-list-item>
      <mat-list-item routerLink="/preScreening">
        <mat-icon mat-list-icon>medical_services</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Lista de espera - Triagem</h4>
      </mat-list-item>
      <mat-list-item routerLink="/Screening">
        <mat-icon mat-list-icon>folder_shared</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Lista de espera - Consulta</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>