table {
  width: 100%;
}

.edit {
  margin-right: 10px;
  
}

.edit > i {
  color: #d9cd26;
}

.delete > i {
  color: gray;
}


th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
 
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: grey;
}

.mat-column-animalname {
  flex: none;
  width: 25%;
}

.mat-column-ownername {
  flex: none;
  width: 15%;
}

.mat-column-result {
  flex: none;
  width: 20%;
}

.mat-column-state {
  flex: none;
  width: 15%;
}

.mat-column-action {
  flex: none;
  width: 15%;
}

.mat-column-color {
  flex: none;
  width: 10%;
}




