table {
  width: 100%;
}

.edit {
  margin-right: 10px;
  
}

.edit > i {
  color: #d9cd26;
}

.delete > i {
  color: gray;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
 
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: grey;
}



