.home .title {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
 
  .home .subtitle {
    font-size: 0.9rem;
  }
  
.question{

  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10%;
  
  
  
}

  .mat-elevation-z2{
    margin-top: 240px;
    
    

  } 

  .btn{
    align-items: flex-end;
    margin: top 10px;
    

  }

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
    
  }
  
  .example-radio-button {
    margin: 5px;
  }