.full-width-table {
  width: 100%;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  visibility: hidden;
}

mat-toolbar {
  
  position: fixed;
}