/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-width: 680px;
}

.red {
  color: rgb(227, 94, 107)
}

.v-middle {
  vertical-align: middle;
}

.msg-success {
  background-color: #28a745;
  color: #fff;
}

.msg-error {
  background-color: rgb(227, 94, 107);
  color: #fff;
}

.appointment {
  color: red;
  font-size: 1.6rem;
  margin-left: 2%;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .appointment {
    font-size: 1.6rem;
    margin-left: 2%;
    cursor: pointer;
    scale: 1;
    
  }
}


.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: blue;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: blue;
}

.mat-drawer-container {
  background-color: white;
  color: rgba(0,0,0,.87);
}